# GEMINI_API_KEY: Optional - For AI job analysis
GEMINI_API_KEY=""

# MONGODB_URI: Database connection string (MongoDB Atlas - Free Cluster)
MONGODB_URI="mongodb+srv://kianiumer998_db_user:raja5416448@cluster0.poqxkgz.mongodb.net/hybrid_job_and_cv?retryWrites=true&w=majority&appName=Cluster0"

# CLOUDINARY CONFIGURATION (Free PDF CV & Image Cloud Storage)
VITE_CLOUDINARY_CLOUD_NAME="jib2je6a"
VITE_CLOUDINARY_UPLOAD_PRESET="hybrid_cv_preset"
CLOUDINARY_API_KEY="592867237754759"
CLOUDINARY_API_SECRET="your_api_secret_here"
CLOUDINARY_URL="cloudinary://592867237754759:your_api_secret_here@jib2je6a"

# PORT: Server binding port (Defaults to 3000 or Render's PORT)
PORT=3000

